body {
	font-size: 15px;
	color: #777777;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #777777;
}
strong {
	font-weight: 600;
	color: black;
}
.navbar {
	margin-bottom: 60px;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-nav > li > a {
	font-size: 14px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	color: black;
	background-color: transparent;
}
.form-control {
	border-color: black;
	border-radius: 0;
}
.help-block {
	color: #6a6a6a;
	font-size: 10px;
	font-weight: 300;
}
