# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Directory-based project format
.idea/

# IDE Helper
_ide_helper.php

# Composer
composer.phar
vendor/
composer.lock