html {
	position: relative;
	min-height: 100%;
}
body {
	background: #003363; /* Old browsers */
	background: -moz-linear-gradient(top, #20aac9 0%, #003363 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#20aac9), color-stop(100%,#003363)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #20aac9 0%,#003363 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #20aac9 0%,#003363 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #20aac9 0%,#003363 100%); /* IE10+ */
	background: linear-gradient(to bottom, #20aac9 0%,#003363 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20aac9', endColorstr='#003363',GradientType=0 ); /* IE6-9 */
	margin-bottom: 70px;
	color: white;
	font-family: "Open Sans", Georgia, serif;
	font-weight: 400;
	font-size: 12px;
}
body > .container {
	padding: 52px 15px 0;
}
@media (min-width: 992px) {
	body > .container {
		padding: 70px 15px 0;
	}
}
h1 {
	font-size: 35px;
	font-weight: 300;
	margin-bottom: 55px;
}
h1:first-child {
	margin-top: 104px;
}
h1 small {
	font-size: 43%;
	color: white;
	font-weight: inherit;
	display: block;
}
h2 {
	font-size: 12px;
	margin-bottom: 22px;
	text-transform: uppercase;
	font-weight: 600;
	text-align: center;
}
h3 {
	font-size: 22px;
	font-weight: 400;
}
h3 small {
	color: white;
	font-size: 11px;
	font-weight: 300;
	font-style: italic;
}
h4 {
	font-size: 11px;
	font-weight: 700;
	color: #607285;
	text-transform: uppercase;
}
h4 small {
	font-size: 8px;
	color: #b0bdca;
	display: block;
	text-transform: none;
}
form {
	background-color: rgba(22, 76, 136, 0.55);
	padding: 8px 30px 26px 26px;
	margin-bottom: 13px;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 130px;
}
footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
footer > .container > p {
	margin: 70px 0 45px;
	font-size: 10px;
	font-weight: 300;
}
footer > .container > p > img {
	margin-right: 4px;
}
a, .btn-link {
	color: white;
}
a:hover, a:focus, .btn-link:hover, .btn-link:focus {
	color: inherit;
}
label {
	font-size: 10px;
}
@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}
.btn-link:hover, .btn-link:focus {
	text-decoration: none;
}
.navbar-default {
	background-color: white;
	border-color: #d7d7d7;
	border-width: 0 0 3px;
}
.navbar-brand {
	padding: 8px 15px;
}
@media (min-width: 992px) {
	.nav > li > a {
		padding: 10px 17px;
	}
	.navbar-default .container {
		padding-left: 171px;
		padding-right: 138px;
	}
	.navbar-brand {
		height: 67px;
		padding-top: 19px;
		padding-bottom: 15px;
	}
	.navbar-nav > li > a {
		padding-top: 28px;
		padding-bottom: 28px;
		line-height: 10px;
	}
}
.navbar-default .navbar-nav > li > a {
	color: #00415b;
	text-transform: uppercase;
}
.btn {
	font-size: 12px;
	line-height: 1;
	outline-style: none !important;
}
@media (min-width: 992px) {
	.btn {
		padding: 11px 12px;
	}
}
.btn-link {
	text-transform: uppercase;
}
.btn-default, .btn-primary {
	background-color: #3a8fc8;
	border: 0 solid;
	border-radius: 0;
	font-size: 10px;
}
.btn-default {
	font-weight: 300;
	color: white;
}
.btn-primary {
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 38px;
}
.btn-primary:first-letter {
	font-size: 150%;
	font-weight: 400;
}
.form-group, .btn-group {
	margin-bottom: 12px;
}
.form-group:last-child {
	padding-top: 14px;
}
.form-control {
	border-color: white;
	border-width: 0 0 0 3px;
	background-color: rgba(5, 59, 122, 0.7);
	height: 30px;
	border-radius: 0;
	color: white;
}
.form-control::-webkit-input-placeholder { /* WebKit browsers */
	color: #3a8fc8;/*#1a4e69*/
	font-size: 10px;
	line-height: 18px;
	text-transform: lowercase;
	font-weight: 300;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #3a8fc8;
	font-size: 10px;
	line-height: 18px;
	text-transform: lowercase;
	font-weight: 300;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #3a8fc8;
	font-size: 10px;
	line-height: 18px;
	text-transform: lowercase;
	font-weight: 300;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #3a8fc8;
	font-size: 10px;
	line-height: 18px;
	text-transform: lowercase;
	font-weight: 300;
}

.caret {
	margin-right: 6px;
	border-top: 7px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	vertical-align: top;
}
.dropdown.open .btn .caret {
	border-top-width: 0;
	border-bottom: 7px solid;
}
.dropdown-menu {
	min-width: initial;
	padding: 0;
	margin: 0 0 0 64px;
	font-size: 12px;
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.dropdown-menu > li > a {
	padding: 1px 10px;
	line-height: 1.1;
	color: #d7d7d7;
	text-transform: lowercase;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color: inherit;
	background-color: transparent;
	font-weight: 700;
}
.radio label, .checkbox label {
	font-weight: 300;
}
.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
	margin-left: -15px;
}
input[type=radio], input[type=checkbox] {
	margin: 2px 0 0;
}

#main-buttons > div {
	text-align: center;
}
#main-buttons > div.active {
	background-color: rgba(22, 76, 136, 0.55);
}
#main-buttons > div:nth-child(1) {
	border-right: 1px solid #d7d7d7;
}
#main-buttons > div:nth-child(2) {
	border-left: 1px solid #d7d7d7;
}
#main-buttons > div > .btn {
	font-size: 9px;
	font-weight: 400;
}
#main-buttons > div > .btn:first-letter {
	font-size: 150%;
	font-weight: 300;
}
#apps-block {
	position: absolute;
	top: 190px;
	right: 0;
	overflow: hidden;
}
#apps-block > button {
	background-color: #f5f5f5;
	border: none;
	padding: 0;
	width: 162px;
	display: table;
	margin-bottom: 23px;
	right: -119px;
	position: relative;
}
#apps-block > button > div {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
	border-right: 1px solid #e7e7eb;
	width: 42px;
	height: 44px;
	display: table-cell;
	vertical-align: middle;
}
#apps-block > button > h4 {
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
	text-align: left;
}
#apps-block > button > h4 > small {
	margin-bottom: 3px;
}
#signup-block {
	display: none;
}
#map {
	position: absolute;
	top: 120px;
	width: 100%;
	height: 400px;
	overflow: hidden;
}
#map > div {
	background: url(/images/map.png) no-repeat;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: inherit;
	position: relative;
}
#map > div > div {
	background: url(/images/light.png) no-repeat;
	position: absolute;
	width: 13px;
	height: 13px;
}
#run-text-block > h1 {
	display: none;
	margin-left: 20px;
	opacity: 0;
}
#count-users {
	position: absolute;
	top: 560px;
	width: 100%;
}
#count-users h3 small {
	display: block;
	margin-top: 4px;
}
#count-users h3 small:before {
	content: "--------- ";
}
#count-users h3 small:after {
	content: " ---------";
}
#last-connections {
	position: absolute;
	top: 420px;
	width: 100%;
}
#last-connections .list-group-item {
	border-radius: 0;
	background-color: transparent;
	border: none;
	text-align: center;
	font-size: 10px;
	padding: 4px 0;
	white-space: nowrap;
}
#last-connections .list-group-item > strong {
	font-weight: 400;
	font-size: 16px;
}
#last-connections .list-group-item > strong > img {
	vertical-align: baseline;
}
#sign-in-with > .btn-group {
	padding-left: 2px;
	padding-right: 2px;
}
#sign-in-with > .btn-group:first-child {
	padding-left: 0;
}
#sign-in-with > .btn-group:last-child {
	padding-right: 0;
}
#sign-in-with > .btn-group > .btn {
	padding: 0;
}
#sign-in-with > .btn-group:last-child > .btn-default {
	background-color: #164c88;
}
#sign-in-with > .btn-group:last-child > .btn-default:hover, #sign-in-with > .btn-group:last-child > .btn-default:focus, #sign-in-with > .btn-group:last-child > .btn-default:active, #sign-in-with > .btn-group:last-child > .btn-default.active {
	background-color: #3071a9;
}
#sign-in-with > .btn-group > .btn > span:first-child {
	line-height: 30px;
}
#sign-in-with > .btn-group > .btn > span:last-child {
	border-left: 1px solid #d7d7d7;
	width: 34px;
	vertical-align: middle;
	float: right;
	padding: 6px 0;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: #ffffff;
	background-color: #3071a9;
}