html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	background: #046d9a url(/images/foniw.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
